* {
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
.navbar,
.findtheflag {
  background: #172755;
}
.section-1 {
  background: #172755;
  background-image: url(./assets/subtract.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 15% 50%;
}

.select-search__input {
  display: block;
  margin: auto;
  height: 36px;
  /* width: 20rem; */
  padding: 0 40px 0 16px;
  background: #ffff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  cursor: pointer;
}
.select-search__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  width: 40%;
  margin: auto;
  overflow-y: scroll;
  height: 520px;
}
.select-search__options {
  list-style: none;
  padding: 0;
}
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}
.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}
.select-search__option.is-selected {
  background: #2fcc8b;
  color: #fff;
}
.guess-the-flag-input {
  display: block;
  margin: auto;
  height: 36px;
  width: 17rem;
  padding: 0 40px 0 16px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
}

@media only screen and (max-width: 320px) and (min-width: 200px) {
  .home {
    height: 30rem;
  }
}
